<h1>My courses</h1>

<table>
  <tr>
    <th>Course Number</th>
    <th>Name</th>
    <th># of Unfinished Assignments</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.course_number %></td>
    <td><%= course.name %></td>
    <td><%= course.assignments.reject { |assignment| assignment.completed(@user) }.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Edit Courses', courses_path %>
